<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>CineFlix API</title>
</head>

<body  background="static\bg1.jpg"  style=" background-size: cover;  opacity: 0.9;">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgba(0, 0, 0, 0.2) ;" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#"><i class="fa-solid fa-film"></i> CineFlix API </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/admin">Admin</a>

        </div>
      </div>
    </div>
  </nav>



  <div class="alert pt-2"  style="background-color: rgba(34, 34, 34, 0.7); color: white;  height: 36vh;  overflow-y: auto; ">
    <h2 class="alert-heading" > <big>CineFlix API:</big> Elevate Your Cinematic Experience with Seamless Integration and Endless Possibilities !</h2>
    <hr>
    <p style="font-size: 18px;">Welcome to CineFlix API, your gateway to a world of cinematic possibilities! Our platform is designed to provide developers with seamless access to a vast array of movie and TV show data.</p>
    
   
  </div>


  <div class="container  d-md-flex" style="margin-top: 22vh; margin-right: 5px;">

    <button type="button" class="btn  btn-lg m-2  " style="background-color: rgb(123, 22, 22);"><a href="api/latestmovies" style="text-decoration: none; color: white;">Get Latest Movies Data</a></button>
    <button type="button" class="btn  btn-lg m-2 " style="background-color: rgb(123, 22, 22);"><a href="api/netflixshows" style="text-decoration: none; color: white;">Get Netflix Shows Data</a></button>
    <br>
  
    <button type="button" class="btn  btn-lg m-2 " style="background-color: rgb(123, 22, 22);"><a href="api/latestshows" style="text-decoration: none; color: white;">Get Latest Shows Data</a></button>

    <button type="button" class="btn r btn-lg m-2 " style="background-color: rgb(123, 22, 22);"><a href="api/thrillershows" style="text-decoration: none; color: white;">Get Thriller Shows Data</a></button>
  
  </div>

 

  <div class="footer mt-5 pt-5" style="margin-bottom: 0px; position: relative; top: 101px;">

    <footer class="bg-dark text-center text-lg-start text-white">
        <!-- Grid container -->


        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="https://gaurav-bhatt-s-portfolio.vercel.app/"
                style="text-decoration: underline;">Design & developed by Gaurav Bhatt</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>

</html>